
.plashki {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
}
.header {
    font-family: fantasy;
    font-size: 25px;
    color: #416788;
    margin: 1% 8%;
    width: 100%;
    position: absolute;
}
.lepeshka {
  display: flex;
  height: 668px;
  width: 420px;
  border-radius: 1%;
}
.fig {
  display: block;
  margin: 1% 0%;
  position: absolute;
  border-radius: 13px;
 }
 .zad {
  display: flex;
  margin: 4% 8%;
  border-radius: 13px;
  position: absolute;
  height: 185px;
  width: 185px;
 }
 .h2 {
  font-family: fantasy;
  font-size: 15px;
  color: #416788;
  margin: 18% 11%;
  width: 100%;
  position: absolute;
 }
 .bt1 {
  display: block;
  background-color: #416788;
  width: 60px;
  height: 60px;
  color: #D2F2ED;
  font-family: fantasy;
  align-items: center;
  margin: 4% 5%;
  position: absolute;
  font-size: large;
 }
 .esh {
    display: flex;
    margin: 21% 4%;
    border-radius: 13px;
    position: absolute;
    height: 340px;
    width: 301px;
 }
.loonzz {
  display: flex;
  position: absolute;
  width: 25px;
  height: 25px;
  margin: 18% 18%;
}
.bt2 {
  display: block;
  background-color: #416788;
  width: 60px;
  height: 60px;
  color: #D2F2ED;
  font-family: fantasy;
  align-items: center;
  margin: 4% 40%;
  position: absolute;
  font-size: large;
 }
 .bt3 {
  display: block;
  background-color: #416788;
  width: 60px;
  height: 60px;
  color: #D2F2ED;
  font-family: fantasy;
  align-items: center;
  margin: 4% 75%;
  position: absolute;
  font-size: large;
 }
 .bt4 {
  display: block;
  background-color: #416788;
  width: 60px;
  height: 60px;
  color: #D2F2ED;
  font-family: fantasy;
  align-items: center;
  margin: 32% 5%;
  position: absolute;
  font-size: large;
 }
 .bt5 {
  display: block;
  background-color: #416788;
  width: 60px;
  height: 60px;
  color: #D2F2ED;
  font-family: fantasy;
  align-items: center;
  margin: 32% 40%;
  position: absolute;
  font-size: large;
 }
 .bt6 {
  display: block;
  background-color: #416788;
  width: 60px;
  height: 60px;
  color: #D2F2ED;
  font-family: fantasy;
  align-items: center;
  margin: 32% 75%;
  position: absolute;
  font-size: large;
 }
 .bt7 {
  display: block;
  background-color: #416788;
  width: 60px;
  height: 60px;
  color: #D2F2ED;
  font-family: fantasy;
  align-items: center;
  margin: 60% 5%;
  position: absolute;
  font-size: large;
 }
 .bt8 {
  display: block;
  background-color: #416788;
  width: 60px;
  height: 60px;
  color: #D2F2ED;
  font-family: fantasy;
  align-items: center;
  margin: 60% 40%;
  position: absolute;
  font-size: large;
 }
 .bt9 {
  display: block;
  background-color: #416788;
  width: 60px;
  height: 60px;
  color: #D2F2ED;
  font-family: fantasy;
  align-items: center;
  margin: 60% 75%;
  position: absolute;
  font-size: large;
 }
 .bt0 {
  display: block;
  background-color: #416788;
  width: 60px;
  height: 60px;
  color: #D2F2ED;
  font-family: fantasy;
  align-items: center;
  margin: 88% 40%;
  position: absolute;
  font-size: large;
 }
 .tt {
  display: flex;
  height: 234px;
  width: 420px;
  border-radius: 1%;
  border-color: #416788;
  margin: 1% 35%;
}
.xx {
  display: flex;
  height: 768px;
  width: 545px;
  border-radius: 1%;
  border-color: #416788;
  margin: 5% 35%;
}
.hh {
  display: block;
  margin: 1% 10%;
  position: absolute;
  border-radius: 13px;
  height: 161px;
  width: 252px;
 }
 .sm {
  display: block;
  margin: 15% 10%;
  position: absolute;
  border-radius: 13px;
  height: 161px;
  width: 252px;
 }
 .sl {
  display: block;
  margin: 29% 10%;
  position: absolute;
  border-radius: 13px;
  height: 151px;
  width: 252px;
 }
 .pp {
  font-family: fantasy;
  font-size: 25px;
  color: #416788;
  margin: 11.5% 16%;
  width: 100%;
  position: absolute;
}
.ee {
  font-family: fantasy;
  font-size: 25px;
  color: #416788;
  margin: 25.5% 15%;
  width: 100%;
  position: absolute;
}
.ii {
  font-family: fantasy;
  font-size: 25px;
  color: #416788;
  margin: 39.5% 6.5%;
  width: 100%;
  position: absolute;
}
.pismo {
  font-family: fantasy;
  font-size: 15px;
  text-align: center;
  min-height: 100vh;
  color: #416788;
  width: 70vh;
  margin: 400px 500px;
  display: block;
  font-style: italic;
}
.day {
  font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
}
.im1 {
  display: block;
  margin: 1% 41%;
  position: absolute;
  border-radius: 13px;
  height: 150px;
  width: auto;
}
.im2 {
  display: block;
  margin: 13% 41%;
  position: absolute;
  border-radius: 13px;
  height: 150px;
  width: auto;
}
.nadp {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.cif1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 1% 10%;
  display: block;
  position: absolute;
}
.cif2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 1% 5%;
}
